* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
  border: 0;
}
body {
  background-color: var(--black);
}
header {
  height: 20vh;
  background-color: var(--black);
  border-bottom: 1px solid white;
}

/* - Färg Variabler - */
:root {
  --blue: #0078ff; /* blå bubble */
  --black: #000000; /* bakgrund */
  --gray: #262629; /* gråa bubblor */
  --white: #ffffff; /* textfärg */
}
