@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@font-face {
  font-family: "bodoni";
  src: url("fonts/BodoniModaSC-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jersey10";
  src: url("fonts/Jersey10-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "istokweb";
  src: url("fonts/IstokWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
  border: 0;
  font-family: "Nunito", sans-serif;
  font-size: 0.98em;
}

#startView {
  background-image: url(images/Johannez\ shady.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  padding: 10px 0;
}

#companyName {
  font-size: 3vw;
  color: white;
  position: relative;
  top: 15px;
}

#startViewTitle {
  font-family: "bodoni";
  font-size: 15vw;
  color: white;
  margin: 0;
}

#startButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#playButton:hover #playIconAndTextContainer {
  transform: scale(1.05);
}

#playButton:hover #playUnderline {
  transform: scale(1.05);
}

#playButton:hover {
  transform: scale(1.05);
}

#playButton:hover #playUnderline {
  background-color: var(--blue);
}

#playIconAndTextContainer {
  display: flex;
  align-items: center;
}

#playIcon {
  background-image: url(icons/playicon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 10vw;
  height: 10vw;
}

#playText {
  font-size: 10vw;
  font-family: "jersey10";
  color: white;
}

#playUnderline {
  background-color: white;
  width: 26.5vw;
  height: 2px;
  position: relative;
  left: 9px;
}

#companyMembers {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.companyMember {
  font-size: 3vw;
  color: white;
}

#messageView {
  display: none;
  background: var(--black);
}

#allMessagesView {
  display: none;
  flex-direction: column;
  padding: 30px 15px;
  background-color: var(--black);
  height: 100vh;
}

#allMessagesViewHeader {
  height: 85px;
}

h1 {
  margin-bottom: 10px;
  color: var(--white);
  font-size: 2.1em;
}

.messagePerson {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0 10px;
  height: 55px;
}

h4 {
  color: var(--white);
}

.nameAndMessageContainer {
  width: 450px;
}

.nameAndTime {
  display: flex;
  justify-content: space-between;
}

.timeAndArrow {
  display: flex;
  align-items: center;
  gap: 5px;
}

.time {
  color: var(--lightgray);
  font-size: 12px;
  display: flex;
  align-items: center;
}

.arrowForward {
  background-image: url(icons/arrowforward.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.messageText {
  font-size: 12px;
  /* width: 235px;
  min-height: 43px;
  max-height: 43px; */
  padding-bottom: 10px;
  border-bottom: 1px solid var(--gray);
  color: var(--lightgray);
}

.profilePicture {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

#unknownProfilePicture {
  background-image: url(icons/contacticon.svg);
}

#bodil {
  background-image: url(images/bodil.jpg);
}

#johannez {
  background-image: url(images/Johannez\ shady.png);
}

/* - Färg Variabler - */
:root {
  --blue: #0078ff;
  /* blå bubble */
  --black: #000000;
  /* bakgrund */
  --gray: #262629;
  /* gråa bubblor */
  --lightgray: #a2a1a3;
  /* ljusgråa ikoner */
  --lightgraytwo: #262629;
  /* pil framåt */
  --darkgray: #1b1b1d;
  /* borders */
  --white: #ffffff;
  /* textfärg */
}

body {
  min-width: 320px;
  max-width: 480px;
  margin: auto;
  min-height: 100dvh;
  overflow: hidden;
}

/* -- H E A D E R -- */

header {
  height: 115px;
  background-color: var(--black);
  border-bottom: 1px solid var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--blue);
  padding: 0 25px;
}

header img {
  width: 30px;
  margin-bottom: 17.5px;
}

#headerBack img {
  cursor: pointer;
}

#headerProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  user-select: none;
}

#headerProfile img {
  border-radius: 100%;
  width: 65px;
  margin: 0;
}

main {
  background-color: var(--black);
  height: calc(100vh - 115px - 65px);
  overflow-y: scroll;
}

/* -- C H A T -- */
#chatWindow {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: baseline;
  padding: 10px 15px 20px;
}

.chatTime {
  align-self: center;
  color: var(--lightgray);
  font-size: 12px;
  padding: 5px 0 20px;
  user-select: none;
}

.chatThey {
  background-color: var(--gray);
  color: var(--white);
  padding: 7.5px 12px;
  border-radius: 7.5px;
  align-self: flex-start;
  max-width: 75%;
  user-select: none;
  font-size: 1.05em;
  margin-bottom: 7.5px;
}

.chatMe {
  background-color: var(--blue);
  color: var(--white);
  padding: 7.5px 12px;
  border-radius: 7.5px;
  align-self: flex-end;
  max-width: 75%;
  user-select: none;
  font-size: 1.05em;
  margin-bottom: 7.5px;
}

/* -- C H A T -- M E S S A G E-- */
#sendMessageBox {
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 10px;
}

#selectMessageBox {
  border: 2px solid var(--lightgray);
  border-radius: 20px;
  flex: 1 0 0;
  margin: 0 10px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#selectMessageBoxSend {
  flex: 0 1 0;
  margin: 0 10px;
}

#selectMessageBox p {
  color: white;
  max-width: 150px;
}

#selectMessageOne,
#selectMessageTwo {
  align-self: center;
}