@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
  border: 0;
  font-family: "Nunito", sans-serif;
  font-size: 0.98em;
}

#messageView {
  display: none;
}

#allMessagesView {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 30px 15px;
  background-color: #000000;
}

h1 {
  margin-bottom: 10px;
  color: #fff;
}

.messagePerson {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
}

h4 {
  color: #fff;
}

.nameAndTime {
  display: flex;
  justify-content: space-between;
}

.time {
  color: #a2a1a3;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.messageText {
  font-size: 12px;
  width: 235px;
  min-height: 43px;
  max-height: 43px;
  padding-bottom: 10px;
  border-bottom: 1px solid #1b1b1d;
  color: #a2a1a3;
}

.profilePicture {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

#unknownProfilePicture {
  background-image: url(images/blankprofilepicture.jpg);
}

#johannez {
  background-image: url(../../../../Desktop/Johannez\ shady.png);
}

/* - Färg Variabler - */
:root {
  --blue: #0078ff;
  /* blå bubble */
  --black: #000000;
  /* bakgrund */
  --gray: #262629;
  /* gråa bubblor */
  --lightgray: #a2a1a3;
  /* ljusgråa ikoner */
  --darkgray: #1b1b1d;
  /* borders */
  --white: #ffffff;
  /* textfärg */
}

body {
  max-width: 500px;
  margin: auto;
  max-height: 100vh;
  overflow: hidden;
}

/* -- H E A D E R -- */

header {
  height: 115px;
  background-color: var(--black);
  border-bottom: 1px solid var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--blue);
  padding: 0 25px;
}

header img {
  width: 30px;
  margin-bottom: 17.5px;
}

#headerBack img {
  cursor: pointer;
}

#headerProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

#headerProfile img {
  border-radius: 100%;
  width: 65px;
  margin: 0;
}

main {
  background-color: var(--black);
  height: calc(100vh - 115px);
}

/* -- C H A T -- */
#chatWindow {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 10px 10px 20px;
}

.chatTime {
  align-self: center;
  color: var(--lightgray);
  font-size: 12px;
  padding: 5px 0 20px;
  user-select: none;
}

.chatThey {
  background-color: var(--gray);
  color: var(--white);
  padding: 7.5px 12px;
  border-radius: 7.5px;
  align-self: flex-start;
  max-width: 75%;
  user-select: none;
  font-size: 1.05em;
  margin-bottom: 7.5px;
}

.chatMe {
  background-color: var(--blue);
  color: var(--white);
  padding: 7.5px 12px;
  border-radius: 7.5px;
  align-self: flex-end;
  max-width: 75%;
  user-select: none;
  font-size: 1.05em;
  margin-bottom: 7.5px;
}
